html {
  scroll-behavior: smooth;
}

body {
  background: #161616;
}

a {
  background: #161616;
}

.visually-hidden {
  display: none;
}

.card-category {
  background-color: #d73953;
}

.section-tagline {
  background-color: #d73953;
}
